<div class="row" >


		<div class="col-md-2" id="index-left">
			<h1>إعلانات</h1>
 			<%= render 'partials/leftAd'%>
		</div>
		
		<div class="col-md-8" id="edit-middle">

			<div id="about-main">
				
			<p>تصفح موقعنا <a href="http://www.alexbrokers.website">www.alexbrokers.website</a> للمزيد من الاختيارات.</p>
			<p><strong><a href="http://www.youtube.com/user/hindawy1973">قناة مكتب اليكس بروكرز للعقارات بالاسكندرية علي اليوتيوب.</a></strong></p>
			<p> للإستفسار اتصل بنا علي <i class="fa fa-mobile fa-lg" aria-hidden="true"></i> <i class="fa fa-whatsapp" aria-hidden="true"></i> 01223367978. <i class="fa fa-comment" aria-hidden="true"></i> @hindawy1973</p>
			<p><strong>مكتب اليكس بروكرز للعقارات بالاسكندرية...</strong>
			نقدم لك خدمة التواصل مع أصحاب الشقق التمليك والمفروشة والقانون الجديد. وأيضاً الأراضي بمدينة الاسكندرية.</p>

			<p>عايز تمتلك شقة...عايز شقة إيجار مفروش...... عايز محل تبدأ فيه مشروعك...عايز أرض.
			إحنا حنوفر لك كل دة.</p>

			<p>من خلال تشكيلة واسعة من الشقق المفروشة الفاخرة ومن خلال الشقق إيجار قانون جديد أو التمليك.
			في أرقي الأماكن بالإسكندرية.

			أتصل بنا وإحنا نساعدك.</p>

			<p>مكتب اليكس بروكرز للعقارات بالاسكندرية...التسويق بمفهوم مختلف.</p>

				
			</div>
			
		</div>
		
		<div class="col-md-2" id="index-right">
			<h1>إعلانات</h1>
			<%= render 'partials/rightAd'%>
		</div>
		
</div>