/*
$panother-color: #FF9000;

.private-index-list-title {
	display: inline-block;
	width: 100px;
	background: $panother-color;
	color: azure;
	padding: 5px;
}


.private-index-list {
	display: inline-block;
	margin-right: 5px;
	padding: 3px 0;
}

.private-index-list li {
	list-style-type: none;
	float: right;
	padding-left: 20px;
	display: inline-flex;
}

#private-index-fields {
	//border: 2px solid green;
	clear: both;
	width: 68%;
	display: inline-block;
	padding: 5px;
	//overflow: hidden;
}

.edit-container {
	padding-right: 0;
}*/